# Node.js
node_modules

# Environment variables file
.env
.env.docker

# Git repository files
.gitignore
.github

# Postman collection
.postman
postman

#Dockerfiles and docker-compose files
build_amd64_image.sh
docker-compose.dev.yml
docker-compose.prod.yml
Dockerfile

# Logs
*.log
